/* ImageSection.css */
.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f5f0; /* Green background */
  padding: 20px;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.image-details {
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.description {
  font-size: 18px;
  margin-bottom: 10px;
}

.confidence {
  font-size: 16px;
  color: #555;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.no-image-container {
  text-align: center;
}

.no-image-icon {
  width: 100px; /* Adjust icon size as needed */
  height: 100px;
  margin-bottom: 10px;
}
